@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1rem; 
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
}
body {
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 100%;
}

/* ---------------- NavBar --------------- */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 3px solid lightgrey;
}

#navbar {
  display: flex;
  justify-content: center;
}

#home {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5rem; /* --changed-- */
  font-weight: 600;
}

#auctioneer {
  margin-top: 8px;
  margin-right: 10px;
  font-size: 1.5rem; /* --changed-- */
  font-weight: 600;
}
#bidder{
  margin-top: 8px;
  margin-right: 10px;
  font-size: 1.5rem; /* --changed-- */
  font-weight: 600;
}

#result {
  margin-top: 15px;
  margin-left: 25px;
  font-size: 1.25rem; /* --changed-- */
  font-weight: 600;
  color: white;
  background-color: brown;
  height: 10%;
  width: 15vw;
}
#logout {
  margin-top: 2px;
  margin-left: 25px;
  font-size: 1.25rem; /* --changed-- */
  font-weight: 600;
  color: white;
  background-color: brown;
  height: 10%;
  width: 15vw;
}

/* ---------------- Body --------------- */

#card_id,
#table_id {
  box-shadow: 5px 10px 18px #6b6a6a;
  /* border: 1px solid rgb(100, 100, 100); */
}

#main_card1,
#main_card2 {
  border: 0px solid rgb(255, 255, 255); 
  margin-top: 20px;
}

/* -- Static Part -- */

#card1 {
  height: 24vh;
  box-shadow: 5px 10px 18px #6b6a6a;
}

#title {
  font-size: 1.1rem; 
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #414040;
}

#auction,
#bid {
  font-size: 1.1rem; 
  font-weight: 400;
  text-transform: capitalize;
}

/* -- Dynamic Part -- */
#main_card2{
  height: 55vh; ;
}
#table_header {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: #414040;
}
#row_id {
  font-size: 2.5rem; 
  font-weight: 300;
  text-transform: capitalize;
  height: 47vh;
}

#card_id {
  height: 55vh;
}
#card2 {
  height: 30vh;
}

#round_id,
#time_id {
  font-size: 1.75rem; 
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #414040;
}

#round {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: rgb(220, 20, 20);
}

#time {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(220, 20, 20);
  color: white;
}

#start {
  margin-top: 5px;
  width: 100%;
  height: 15vh;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

#next {
  margin-top: 5px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

#bid_btn {
  margin-top: 8px;
  width: 100%;
  height: 20vh;
  font-size: 2.25rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* -------Auctioneer & Bidder Page------- */

/* @media only screen and (max-width: 1900px) {
  body {
    max-height: 1000px;
    background-color: rgb(129, 129, 129);
  }
  #home,
  #result{
    font-size: 2rem;
    padding: 0px;
  }
  #auctioneer{
    margin-top: 8px;
    font-size: 2rem;
  }
  #logout{
    margin-top: 0px;
    padding: 0px;
    font-size: 2rem;
  }
  #title {
    font-size: 2rem;
    color: #414040;
  }
  #auction,
  #bid {
    font-size: 1.85rem;
  }
  #main_card1 {
    height: 26vh;
  }
  #card1 {
    height: 25vh;
  }

  #main_card2 {
    height: 60vh;
  }
  #card_id {
    height: 60vh;
  }
  #card2 {
    height: 30vh;
  }
  #round_id,
  #time_id {
    font-size: 2.8rem;
    color: #414040;
  }
  #round,
  #time {
    font-size: 7.5rem;
  }
  #start {
    margin-top: 10px;
    font-size: 4rem;
    height: 19vh;
  }
  #next {
    margin-top: 10px;
    font-size: 2rem;
    height: 7Vh;
  }
  #bid_btn {
    margin-top: 25px;
    font-size: 4rem;
    height: 24vh;
  }

  #table_header {
    font-size: 2.8rem;
    color: #414040;
  }
  #row_id {
    font-size: 2.8rem;
    height: 45.8vh;
  }
}  */


/* ------------------ */