@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 1rem; /* --changed-- */
  font-family: "Open Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: black;
}
body {
  width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---------------- NavBar --------------- */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 3px solid lightgrey;
}

#navbar {
  display: flex;
  justify-content: center;
}

#home {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.25rem; /* --changed-- */
  font-weight: 600;
}

#auctioneer {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 1.25rem; /* --changed-- */
  font-weight: 600;
}

#result {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 1.25rem; /* --changed-- */
  font-weight: 600;
  color: white;
  background-color: brown;
  height: 10%;
  width: 15vw;
}

/* ---------------- Body --------------- */
#card_id,
#table_id {
  box-shadow: 5px 10px 18px #6b6a6a;
  /* box-shadow: 26px 26px 20px -20px rgba(117, 117, 117, 1); */
  border: 2px solid rgb(255, 255, 255); /* changes should removed--- */
}

#main_card1,
#main_card2 {
  border: 2px solid rgb(255, 255, 255); /* changes should removed--- */
  margin-top: 20px;
}

/* -- Static Part -- */

#title {
  font-size: 1rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

#auction,
#bid {
  font-size: 1rem; /* --changed-- */
  font-weight: 400;
  text-transform: capitalize;
}

/* -- Dynamic Part -- */

#table_header {
  font-size: 1.5rem; /* --changed-- */
  text-transform: uppercase;
}

#row_id {
  font-size: 1.625rem; /* --changed-- */
  font-weight: 400;
  text-transform: capitalize;
}

#round_id,
#time_id {
  font-size: 1.75rem; /* --changed-- */
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

#round {
  font-size: 4rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: rgb(220, 20, 20);
}

#time {
  font-size: 4rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(220, 20, 20);
  color: white;
}

#start {
  margin-top: 5px;
  width: 100%;
  height: 10vh;
  font-size: 2rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
}

#next {
  margin-top: 5px;
  width: 100%;
  font-size: 1rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
}

#bid_btn {
  margin-top: 8px;
  width: 100%;
  height: 16vh;
  font-size: 2.25rem; /* --changed-- */
  font-weight: 500;
  text-transform: uppercase;
}

/* -------------------------------------- Changes Starts Here --------------------------------------- */

#card1 {
  height: 23vh;
  box-shadow: 5px 10px 18px #6b6a6a;
  /* box-shadow: 26px 26px 20px -20px rgba(117, 117, 117, 1); */
}
#row_id {
  height: 46vh;
}

/* -------Auctioneer & Bidder Page------- */

/* @media (width: 1440px) {
  body {
    height: 537px;
  }
  #home,
  #result,
  #auctioneer {
    font-size: 1rem;
  }
  #main_card1 {
    height: 25vh;
  }
  #card1 {
    height: 25vh;
  }
  #title {
    font-size: 0.9rem;
  }
  #auction,
  #bid {
    font-size: 0.9rem;
  }
  #main_card2 {
    height: 52vh;
  }
  #card_id {
    height: 52vh;
  }
  #card2 {
    height: 30vh;
  }
  #round_id,
  #time_id {
    font-size: 1.25rem;
  }
  #round,
  #time {
    font-size: 3.2rem;
  }
  #start {
    font-size: 1.5rem;
    height: 10vh;
  }
  #next {
    font-size: 1rem;
    height: 6vh;
  }
  #table_header {
    font-size: 1.25rem;
  }
  #row_id {
    font-size: 1.25rem;
    height: 43vh;
  }
} */

@media only screen and (max-width: 1920px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  #home,
  #result,
  #auctioneer {
    font-size: 2rem;
  }
  #main_card1 {
    height: 28vh;
  }
  #card1 {
    height: 25vh;
  }
  #title {
    font-size: 1.8rem;
  }
  #auction,
  #bid {
    font-size: 1.8rem;
  }
  #main_card2 {
    height: 55vh;
  }
  #card_id {
    height: 53vh;
  }
  #card2 {
    height: 29vh;
  }
  #round_id,
  #time_id {
    font-size: 2.5rem;
  }
  #round,
  #time {
    font-size: 6rem;
  }
  #start {
    margin-top: 10px;
    font-size: 4rem;
    height: 12vh;
  }
  #next {
    margin-top: 10px;
    font-size: 2rem;
    height: 6.5vh;
  }
  #bid_btn {
    margin-top: 20px;
    font-size: 4rem;
    height: 18vh;
  }
  #table_header {
    font-size: 2.5rem;
  }
  #row_id {
    font-size: 2.5rem;
    height: 44.2vh;
  }
}

/* @media (width: 2559px) {
  body {
    height: 967px;
  }
  #main_card1 {
    height: 30vh;
  }
  #card1 {
    height: 28vh;
  }
  #main_card2 {
    height: 55vh;
  }
  #card_id {
    height: 54vh;
  }
  #card2 {
    height: 33vh;
  }
  #start {
    font-size: 4rem;
    height: 12vh;
  }
  #next {
    font-size: 1.5rem;
    height: 5vh;
  }
  #round,
  #time {
    font-size: 6.8rem;
  }
  #home,
  #auctioneer,
  #result {
    font-size: 2rem;
  }
  #title {
    font-size: 2rem;
  }
  #auction,
  #bid {
    font-size: 2rem;
  }
  #table_header {
    font-size: 2.5rem;
  }
  #row_id {
    font-size: 2.5rem;
  }
  #round_id,
  #time_id {
    font-size: 4rem;
  }
}

@media (width: 2560px) {
  body {
    height: 1440px;
  }
  #main_card1 {
    height: 30vh;
  }
  #card1 {
    height: 28vh;
  }
  #main_card2 {
    height: 55vh;
  }
  #card_id {
    height: 56vh;
  }
  #card2 {
    height: 29vh;
  }
  #start {
    margin-top: 15px;
    font-size: 6rem;
    height: 15vh;
  }
  #next {
    margin-top: 10px;
    font-size: 2rem;
    height: 7vh;
  }
  #bid_btn {
    margin-top: 25px;
    font-size: 6rem;
    height: 22vh;
  }
  #round,
  #time {
    font-size: 10rem;
  }
  #home,
  #auctioneer,
  #result {
    font-size: 3rem;
  }
  #title {
    font-size: 3rem;
  }
  #auction,
  #bid {
    font-size: 2.5rem;
  }
  #table_header {
    font-size: 3.5rem;
  }
  #row_id {
    font-size: 4rem;
    height: 49vh;
  }
  #round_id,
  #time_id {
    font-size: 4.5rem;
  }
} */

/* ------------------ */

/* responsive done for these resolutions */
/* **** 1366*768 ****** */
/* **** 1920*1080 ***** */

/* responsive not done for these resolutions */
/* 1440*537 */
/* 2560 x 937 */
/* 2560 x 1440 */
